{% extends "base.html" %}
{% load static %}
{% block body %}


<p>
    <img src="{% static 'img/mdb-favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/mdb.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/mdb.min.css.map'%}">
    <link rel="stylesheet" href="{% static 'css/mdb.rtl.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/mdb.rtl.min.css.map'%}">
    <link rel="stylesheet" href="{% static 'js/mdb.min.js'%}">
    <link rel="stylesheet" href="{% static 'js/mdb.min.js.map'%}">
</p>
{% endblock %}